@page "/products"
@page "/products/{Id}"

@inject IProductService productService
@inject IMfService mfService

<div class="product-page-grid">
    <h1 id="store">The Model Store</h1>
    <MfComponent Name="basket" />
    <div id="image">
        <div>
            <img src="@mfService.GetLink(Product.Image)" alt="@Product.Name" />
        </div>
    </div>
    <h2 id="name">
        Tractor <small>@Product.Name</small>
    </h2>
    <div id="options">
        @foreach (var product in productService.GetProducts())
        {
            <a class="@(ProductId == product.Id ? "active" : "")" href="/products/@product.Id">
                <img src="@mfService.GetLink(product.Thumb)" alt="@Product.Name" />
            </a>
        }
    </div>
    <MfComponent Name="buy" Id="@ProductId" Price="@Product.Price" />
    <MfComponent Name="recommendations" Id="@ProductId" />
</div>

@code {
    [Parameter]
    public string? Id { get; set; }

    public string ProductId => Id ?? "porsche";

    private ProductItem Product => productService.GetProduct(ProductId) ?? productService.GetProducts().First();
}