@inject IProductService productService
@inject IMfService mfService

<div class="product-page-grid">
    <h1 id="store">The Model Store</h1>
    <MfComponent Name="basket" />
    <div id="image">
        <div>
            <img src="@mfService.GetLink(Product.Image)" alt="@Product.Name" />
        </div>
    </div>
    <h2 id="name">
        Tractor <small>@Product.Name</small>
    </h2>
    <div id="options">
        @foreach (var product in productService.GetProducts())
        {
            <a class="@(Id == product.Id ? "active" : "")" href="/@product.Id">
                <img src="@mfService.GetLink(product.Thumb)" alt="@Product.Name" />
            </a>
        }
    </div>
    <MfComponent Name="buy" Id="@Id" Price="@Product.Price" />
    <MfComponent Name="recommendations" Id="@Id" />
</div>

@code {
    [Parameter]
    public string Id { get; set; } = "porsche";

    private ProductItem Product => productService.GetProduct(Id) ?? productService.GetProducts().First();
}