<Piral.Blazor.Orchestrator.MfRouter AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <Piral.Blazor.Orchestrator.MfRouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Piral.Blazor.Orchestrator.MfRouter>
